{{set root='..'}}
{{> header cssName='cus-serv-home'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit-cs.jpg">
				<ul>
					<li class="active">고객센터 홈</li>
					<li>문의하기</li>
					<li>건의하기</li>
					<li>보안센터</li>
					<li>청소년보호프로그램</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="tit-new-notice">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit-cs-home.jpg" alt="고객센터">
		</div>
		<div class="post-content">

		</div>
	</div>
	{{> footer jsName='cus-serv-home'}}
