<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>사이퍼즈</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/league-ranking.css">
	<script src="../plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="hp-container">
	<header id="main-box">
		<div id="main-bar">
			<div class="main-menu">
				<ul id="main-left">
					<li>새소식</li>
					<li>게임정보</li>
					<li>리그/랭킹</li>
				</ul>
				<ul id="main-logo">
					<li>C</li>
					<li>yPHERS</li>
				</ul>
				<ul id="main-right">
					<li>커뮤니티</li>
					<li>자료실</li>
					<li>고객센터</li>
				</ul>
			</div>
		</div>
		<div class="head-content">
			<div class="game-starter">
				<img src="../img/Game_starter.JPG">
			</div>
			<div class="starter-next-sub-banner">
				<img src="../img/notice-top-ad.jpg">
			</div>
		</div>
	</header>
	<div class="main-contanier">
		<div class="sub-notice-banner">
			<div class="tabs-check">
				<ul class="login-company select select-tab">
					<li company="cy" class="active">사이푸스</li>
					<li company="nex">넥손손</li>
					<li company="dun">건전함</li>
				</ul>
				<div id="login">
					<div class="login-box">
						<ul class="login-detail">
							<li><input type="text" class="login-id" maxlength="64" placeholder="아이디"></li>
							<li><input type="text" class="login-pass" maxlength="64" placeholder="비밀번호"></li>
						</ul>
						<ul class="login-btn">
							<li><input type="button" style="width: 88px;height: 50px" value="로그인"></li>
						</ul>
					</div>
					<div class="checkbox">
						<ul>
							<li><input type="checkbox" style="margin-left: 20px" id="id-save"> <label class="id-save" for="id-save">아이디 저장</label></li>
							<li><input type="checkbox" style="margin-left: 7px" id="key-se"> <label class="key-se" for="key-se">키보드 보안</label></li>
						</ul>
					</div>
					<ul class="sub-box">
						<li><input type="button" style="width: 100px;height: 26px; font-size: 10px" value="회원가입"></li>
						<li><input type="button" style="width: auto;height: 26px; font-size: 8px" value="아이디|비밀번호찾기"></li>
					</ul>
				</div>
			</div>
			<div class="sub-banner-notice">
				<div class="notice-menu">
					<ul>
						<li><img src="../img/tit-league-ranking.jpg"></li>
						<li>리그</li>
						<li class="active">랭킹</li>
						<li>캐릭터 통계</li>
						<li>전적 검색</li>
					</ul>
				</div>
				<div class="sub-bnr-img" id="s1">
					<img src="../img/sub-banner-common01.jpg">
				</div>
				<div class="sub-bnr-img" id="s2">
					<img src="../img/sub-banner-common02.jpg">
				</div>
				<div class="sub-bnr-img" id="s3">
					<img src="../img/sub-banner-common03.jpg">
				</div>
				<div class="sub-bnr-img" id="s4">
					<img src="../img/sub-banner-common04.jpg">
				</div>
			</div>
		</div>
		<div class="tit-new-notice">
			<div class="notice-title-img">
				<img src="../img/tit_ginfo_char.jpg" alt="공지사항">
			</div>
			<div class="notice-post-content">
				<div class="search-notice">
					<select id="search-news-or-notice">
						<option value="title">제목</option>
						<option value="title+contents">제목 + 내용</option>
					</select>
					<input type="text" class="input-search-notice" style="width: 160px; height: 21px;">
					<input type="button" class="notice-search-btn" style="font-size: 11px; background-color: black; color: white;" value="검색">
				</div>
			</div>
		</div>
	</div>
</div>
<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/league-ranking.js"></script>
</body>
</html>
