<footer><!--푸터 시작-->
	<div class="footer-box">
		<ul class="company-logo">
			<li class="neople-logo"><img src="../../img/logo_neople.jpg"> </li>
			<li class="nexon-logo"><img src="../../img/logo_nexon.jpg"> </li>
		</ul>
		<ul class="company-info">
			<li>회사소개 | 이용약관 | 개인정보 취급방침 | 사이퍼즈 운영정책</li>
			<li><img src="../../img/footer_company-info.jpg"></li>
		</ul>
		<ul class="game-info-logo">
			<li><img src="../../img/footer-game-info.jpg"></li>
		</ul>
	</div>
</footer>
</div>



<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/main.js"></script>
</body>
</html>
