<div class="tabs-check">
	<ul class="login-company select select-tab">
		<li company="cy" class="active">사이푸스</li>
		<li company="nex">넥손손</li>
		<li company="dun">건전함</li>
	</ul>
	<div id="login">
		<div class="login-box">
			<ul class="login-detail">
				<li><input type="text" class="login-id" maxlength="64" placeholder="아이디"></li>
				<li><input type="text" class="login-pass" maxlength="64" placeholder="비밀번호"></li>
			</ul>
			<ul class="login-btn">
				<li><input type="button" style="width: 88px;height: 50px" value="로그인"></li>
			</ul>
		</div>
		<div class="checkbox">
			<ul>
				<li><input type="checkbox" style="margin-left: 20px" id="id-save"> <label class="id-save" for="id-save">아이디 저장</label></li>
				<li><input type="checkbox" style="margin-left: 7px" id="key-se"> <label class="key-se" for="key-se">키보드 보안</label></li>
			</ul>
		</div>
		<ul class="sub-box">
			<li><input type="button" class="sign-up" style="width: 100px;height: 26px; font-size: 10px" value="회원가입"></li>
			<li><input type="button" style="width: auto;height: 26px; font-size: 8px" value="아이디|비밀번호찾기"></li>
		</ul>
	</div>
</div>
