<div class="tabs-check">
	<ul class="login-company select select-tab">
		<li company="cy" class="active">사이푸스</li>
		<li company="nex">넥손손</li>
		<li company="dun">건전함</li>
	</ul>
	<div id="sign-in">
		<div class="lead-thum">
			<img src="{{root}}/img/new_thum_char_j_on.jpg">
		</div>
		<div class="gamer-info">
			<ul>
				<li>환영합니다!</li>
				<li>아이디 [급수]</li>
				<li>내 테라 : </li>
			</ul>
		</div>
		<ul id="manager-message">
			<li>버그 및 불편사랑을 고객센터에 남겨주세요</li>
		</ul>
		<div class="login-management">
			<input type="button" value="Mypage" class="mypage">
			<input type="button" value="로그아웃" class="logout">
			<input type="button" value="테라결제관리" class="Payment">
		</div>

	</div>
</div>
