<div class="sub-bnr-img" id="s1">
	<img src="{{root}}/img/sub-banner-common01.jpg">
</div>
<div class="sub-bnr-img" id="s2">
	<img src="{{root}}/img/sub-banner-common02.jpg">
</div>
<div class="sub-bnr-img" id="s3">
	<img src="{{root}}/img/sub-banner-common03.jpg">
</div>
<div class="sub-bnr-img" id="s4">
	<img src="{{root}}/img/sub-banner-common04.jpg">
</div>
