{{set root='../..'}}
{{> header cssName='league-ranking'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit-league-ranking.jpg">
				<ul>
					<li>리그</li>
					<li>랭킹</li>
					<li class="active">캐릭터 통계</li>
					<li>전적 검색</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="tit-new-notice">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit-rank-stats.jpg" alt="캐릭터 통계">
		</div>
		<div class="post-content">
			<img src="{{root}}/img/img_stats.jpg">
		</div>
	</div>
	{{> footer jsName='league-ranking'}}
