@import 'lib/include.all.less';
@import 'common.css';

html, body {
	height: 100%;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.hp-container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-image: url("../img/bg_news.jpg");
	background-size: cover;
}
header{
	width: 100%;
	top:0;
	position: relative;
}

#main-bar{
	background-color: @main-Color;
	border-right: solid 2px white;
	color: white;
	text-align: center;
	width: 100%;
	height: 63px;
}
.main-menu>ul{
	display: inline-block;
	font-size: 21px;
}
#main-left>li{
	display: inline-block;
	border-right: solid 2px darkblue;
	padding: 10px 15px 10px 15px;
}
#main-left>li:first-child{
	cursor: pointer;
}
#main-left>li:nth-child(3){
	border: 0;
}
#main-logo{
	font-size: 34px;
	font-weight: bold;
	cursor: pointer;
}
#main-logo>li{
	display: inline-block;
	color: #ffff00;
	padding: 10px 15px 10px 15px;
}
#main-logo>li:first-child{
	color: red;
	padding-right: 0;
}
#main-logo>li:last-child{
	padding-left: 0;
	padding-right: 20px;
}
#main-right>li{
	display: inline-block;
	border-right: solid 2px darkblue;
	padding: 10px 15px 10px 15px;
}
#main-right>li:last-child{
	border-right: 0;
}
.head-content{
	width: 980px;
	position: relative;
	z-index: 3;
	margin: 52px auto 0 auto;
	text-align: center;
}
.head-content>div{
	display: inline-block;
}
.main-contanier{
	margin: 0 auto;
	position: relative;
	width: 980px;
	display: block;
}
.main-contanier>div{
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.tabs-check{
	width: 250px;
}
.login-company>li{
	display: inline-block;
	width: 33.3%;
	padding: 5px 4px;
	color: #ccc;
	font-size: 10px;
	border:solid 1px #ccc;
	text-align: center;
}
#login{
	background-color: #575757;
	width: 250px;
	border: solid 1px black;
}
.login-box>ul{
	display: inline-block;
	margin-top: 9px;
	vertical-align: top;
}
.login-id, .login-pass{
	width: 108px;
	height: 20px;
}
.login-btn>li{
	vertical-align: top;
}
.login-detail>li:first-child{
	margin-bottom: 4px;
}
.login-btn{
	margin-left: 3px;
}
.checkbox{
	color: #a6a6a6;
	margin-top: 0;
}
.checkbox>ul>li{
	display: inline-block;
	padding-right: 10px;
}
.id-save{
	margin-left: 13px;
}
.key-se{
	padding-left: 10px;
}
.line{
	border-top: solid 2px white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 210px;
	margin-top: 0;
}
.sub-box{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.sub-box>li{
	display: inline-block;
	padding-right: 5px;
}
.sub-banner-notice{
	background-color: #e3e3e3;
	vertical-align: top;
	width: 100%;
	height: 100%;
	position: relative;
	border: solid 1px black;
}
.notice-menu{
	padding: 19px 0 19px 19px;
}
.notice-menu>ul>li{
	border-bottom: solid 1px #e3e3e3;
	width: 210px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	padding: 0 20px;
	background-color: white;
	line-height: 30px;
}
.notice-menu>ul>li:first-child{
	padding: 0;
}
.sub-bnr-img{
	margin-top: 20px;
	vertical-align: top;
}
.tit-new-notice{
	position: relative;
	background-color: white;
}
.notice-post-content{
	width: 100%;
	margin: 30px auto 0 auto;
}
.search-notice{
	text-align: right;
	margin-right: 30px;
}
#search-news-or-notice{
	height: 21px;
	margin-right: 3px;
}
#search-news-or-notice, .input-search-notice{
	vertical-align: top;
}
#s4{
	margin-bottom: 100px;
}
