@import 'lib/include.all.less';

footer{
	bottom: 0;
	position: relative;
	width: 980px;
	height: 172px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
	padding-bottom: 30px;
	background-color: white;
}
.footer-box{
	position: absolute;
}
.footer-box>ul{
	margin-left: 20px;
}
.company-logo, .company-info{
	display: inline-block;
	vertical-align: top;
}
.company-logo>li{
	display: inline-block;
}
.nexon-logo{
	margin: 0 31px 0 25px;
}
.game-info-logo{
	margin-top: 1px;
}
.notice-menu>ul>li.active{
	color: red;
}
