@import 'lib/include.all.less';

#main-bar{
	background-color: @main-Color;
	border-right: solid 2px white;
	color: white;
	text-align: center;
	width: 100%;
	height: 63px;
}
.main-menu>ul{
	display: inline-block;
	font-size: 21px;
}
#main-left>li{
	display: inline-block;
	border-right: solid 2px darkblue;
	padding: 10px 15px 10px 15px;
}
#main-left>li{
	cursor: pointer;
}
#main-left>li:nth-child(3){
	border: 0;
}
#main-logo{
	font-size: 34px;
	font-weight: bold;
	cursor: pointer;
}
#main-logo>li{
	display: inline-block;
	color: #ffff00;
	padding: 10px 15px 10px 15px;
}
#main-logo>li:first-child{
	color: red;
	padding-right: 0;
}
#main-logo>li:last-child{
	padding-left: 0;
	padding-right: 20px;
}
#main-right>li{
	display: inline-block;
	border-right: solid 2px darkblue;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
}
#main-right>li:last-child{
	border-right: 0;
}
footer{
	position: relative;
	width: 980px;
	height: 172px;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 0 30px 0;
	background-color: white;
}
.footer-box{
	position: absolute;
}
.footer-box>ul{
	margin-left: 20px;
}
.company-logo, .company-info{
	display: inline-block;
	vertical-align: top;
}
.company-logo>li{
	display: inline-block;
}
.nexon-logo{
	margin: 0 31px 0 25px;
}
.game-info-logo{
	margin-top: 1px;
}
.notice-menu>ul>li.active{
	color: red;
}
.notice-menu>ul>li{
	cursor: pointer;
}
.sub-banner-notice{
	background-color: #e3e3e3;
	vertical-align: top;
	width: 100%;
	height: 100%;
	position: relative;
	border: solid 1px black;
}
.notice-menu{
	padding: 19px 0 19px 19px;
	text-align: left;
}
.notice-menu>ul>li{
	border-bottom: solid 1px #e3e3e3;
	width: 210px;
	font-size: 15px;
	font-weight: bold;
	padding: 0 20px;
	background-color: white;
	line-height: 30px;
}
.sub-bnr-img{
	margin-top: 20px;
	vertical-align: top;
}

#s4{
	margin-bottom: 100px;
}
