{{set root='..'}}
{{> header cssName='article.notice'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit_news.jpg">
				<ul>
					<li>공지사항</li>
					<li class="active">업데이트</li>
					<li>이클립스</li>
					<li>매거진</li>
					<li>이벤트</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="tit-new-notice">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit_news_update.jpg" alt="공지사항">
		</div>
		<div class="post-content">
			<div class="search-notice">
				<select id="search-news-or-notice">
					<option value="title">제목</option>
					<option value="title+contents">제목 + 내용</option>
				</select>
				<input type="text" class="input-search-notice" style="width: 160px; height: 21px;">
				<input type="button" class="notice-search-btn" style="font-size: 11px; background-color: black; color: white;" value="검색">
			</div>
			<div class="write-notice-btn">
				<img src="{{root}}/img/btn-wrt.jpg">
			</div>
		</div>
	</div>

	{{> footer jsName='article.notice'}}
