{{set root='..'}}
{{> header cssName='league-ranking'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit-league-ranking.jpg">
				<ul>
					<li>리그</li>
					<li class="active">랭킹</li>
					<li>캐릭터 통계</li>
					<li>전적 검색</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="tit-new-notice">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit-le-rank.jpg" alt="리그/랭킹">
		</div>
		<div class="post-content">
			<div class="search-notice">
				<select id="search-news-or-notice">
					<option value="title">제목</option>
					<option value="title+contents">제목 + 내용</option>
				</select>
			</div>
		</div>
	</div>
</div>
	{{> footer jsName='league-ranking'}}
