{{set root='..'}}
{{> header cssName='free-post'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit-comm.jpg">
				<ul>
					<li>BEST 게시판</li>
					<li>밸런스 토론장</li>
					<li>클랜홍보게시판</li>
					<li>공략게시판</li>
					<li>자유게시판</li>
					<li>팬아트게시판</li>
					<li>인증게시판</li>
					<li>거래게시판</li>
					<li class="active">투신전게시판</li>
					<li id="af">아프리카 TV</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="tit-new-notice">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit-comm-free.jpg" alt="자유게시판">
		</div>
		<div class="post-content">
			<div class="search-notice">
				<select id="search-news-or-notice">
					<option value="title">제목</option>
					<option value="title+contents">제목 + 내용</option>
				</select>
				<input type="text" class="input-search-notice" style="width: 160px; height: 21px;">
				<input type="button" class="notice-search-btn" style="font-size: 11px; background-color: black; color: white;" value="검색">
			</div>
			<div class="write-notice-btn">
				<img src="{{root}}/img/btn-wrt.jpg">
			</div>
		</div>
	</div>
	{{> footer jsName='free-post'}}
