{{set root='..'}}
{{> header cssName='game-info'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit_ginfo.jpg">
				<ul>
					<li>세계관</li>
					<li>캐릭터</li>
					<li class="active">게임 가이드
					<ul class="game-guide-detail">
						<li>- 신규 능력자 지침서</li>
						<li>- 인터페이스</li>
						<li>- 게임 모드</li>
						<li>- 전투하기</li>
						<li>- 시스템 가이드</li>
					</ul></li>
					<li>아이템 박스</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="content">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit_ginfo_guide.jpg" alt="게임 가이드">
		</div>
		<div class="post-content">
			<img src="{{root}}/img/h_guide1.jpg">
		</div>
	</div>
</div>
	{{> footer jsName='game-info'}}
